[submodule "amboso"]
	path = amboso
	url = git@github.com:jgabaut/amboso.git
[submodule "sprites4curses"]
	path = sprites4curses
	url = git@github.com:jgabaut/sprites4curses.git
[submodule "koliseo"]
	path = koliseo
	url = git@github.com:jgabaut/koliseo.git
[submodule "invil"]
	path = invil
	url = git@github.com:jgabaut/invil
[submodule "s4c-scripts"]
	path = s4c-scripts
	url = git@github.com:jgabaut/s4c-scripts.git
[submodule "s4c-gui"]
	path = s4c-gui
	url = git@github.com:jgabaut/s4c-gui.git
